body {
    background-image: url("../images/barro.png");
    background-size: cover;
    /* background-repeat: no-repeat; */
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}

.header-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #03b4fa;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: left;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.header-buttons a:hover {
    background-color: #0793e4;
}

.header_log_reg-buttons a {
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
    text-align: right;
}

.header_log_reg-buttons a:hover {
    background-color: #45a049;
}

.header_2 {
    font-family: Arial, sans-serif;
    color: orange;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    /* background-color: #f2f2f2; */
    /* padding: 20px 20px; */
}

.row a {
    display: inline-block; /* Для того чтобы ссылка занимала только необходимое пространство */
    text-decoration: none; /* Убираем стандартное подчеркивание */
    color: orange; /* Цвет текста */
    /* margin: 0; */
}

.row a:hover {
    background-color: lightgray; /* Фон при наведении */
}

.row a:hover img {
    opacity: 0.7; /* Прозрачность изображения при наведении */
}

.row a:hover p {
    font-weight: bold; /* Увеличение жирности текста при наведении */
}

.row img {
    vertical-align: middle; /* Выравнивание изображения по вертикали */
    /* margin: 0; */
}

.row p {
    margin: 0; /* Убираем внешние отступы у текста */
    /* line-height: 1; Устанавливаем высоту строки равной 1, чтобы уменьшить расстояние между текстом и изображением */
}

.row {
    font-family: Arial, sans-serif;
    font-size: 24px;
    /* font-weight: bold; */
    justify-content: space-around;
    display: flex;
    /* align-items: center; */
    color: orange;
    /* margin: 0; */
}

.contact-info {
    background-color: #fff01b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.table-wrapper {
    margin-top: 50px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}

.form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .form_login form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
} */

/* .error {
    color: red;
    border: 1px solid red;
} */

.to_index {
    font-family: Arial, sans-serif;
    color: orange;
    text-align: center;
    position: relative;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    /* background-color: #f2f2f2; */
    /* padding: 20px 20px; */
}

/* .modal {
    z-index: 1050; /* Устанавливаем большой z-index, чтобы окно модального диалога оставалось на переднем плане 
} */

.contacts {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}
.contacts2 {
    text-align: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

/* начало форма регистрации */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Регулирует высоту контейнера по высоте видимой области страницы */
}

.register {
    max-width: 310px;
    margin: 20px 0px 0px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.register h1{
    font-size: 30px;
    padding: 5px;
    width: 100%;
    text-align: center;
    margin: -5px 0px 10px 0px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

.form-control {
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.radio {
    display: inline;
}

.radio label {
    display: inline;
    margin-right: 5px;
}

input[type="submit"] {
    text-align: center;
    /* width: 50%; */
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px 0px -15px 0px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}  

.form-control.is-invalid {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.8em;
}
/* конец форма регистрации */

.login {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

/* начало подсказки в форме ввода, пока пустота в поле ввода */
::-webkit-input-placeholder {
    color: #999; /* Серый цвет */
    opacity: 0.5; /* Низкая насыщенность */
}
:-moz-placeholder {
    color: #999;
    opacity: 0.5;
}
::-moz-placeholder {
    color: #999;
    opacity: 0.5;
}
:-ms-input-placeholder {
    color: #999;
    opacity: 0.5;
}
/* конец подсказки в форме ввода, пока пустота в поле ввода */