{% extends 'admin/base.html' %}

{% block body %}
<div class="container">
    <h1>Добро пожаловать в админ-панель, {{ current_user.email }}!</h1>
    <p>На этой странице вы найдете инструкции по использованию админ-панели.</p>
    <h2>Инструкции:</h2>
    <ol>
        <li>Добавьте новые записи, используя соответствующие разделы на панели навигации слева.</li>
        <li>Редактируйте или удаляйте существующие записи, перейдя в соответствующие разделы на панели навигации.</li>
        <li>Используйте фильтры и поиск для быстрого поиска нужных записей.</li>
        <li>Не забывайте сохранять изменения после внесения их в записи.</li>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Выйти</a>
    </ol>
</div>
{% endblock %}