<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контактная информация</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="contacts2">
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Abd3feaac2bbcd0c2a1dab79f0e3fb9e1982eac9d5f996a42658012ca9ba9c3ce&amp;source=constructor" width="1280" height="480" frameborder="0"></iframe>
</div>
<div class="contacts">
    <h1>Контакты</h1>
    <p>Email: <a href="mailto:gussport@mail.ru">gussport@mail.ru</a></p>
    <p>Phone: <a href="tel:+79612544444">+79612544444, Филатов Иван</a></p>
    <p>Вконтакте: <a href="https://vk.com/scbarro">https://vk.com/scbarro</a></p>
    <p>Address: Россия, Гусь-хрустальный, Баринова роща</p>
    <p>Спортивный Клуб «Баринова роща» создан 12 июля 2009 года с целью развития и популяризации циклических видов спорта на территории города Гусь-Хрустальный, привлечения к занятиям спортом и активному образу жизни детей и взрослых. На настоящий момент спортивный клуб насчитывает в своих рядах более десятка энтузиастов.

        Лыжные трассы в лесном массиве «Баринова роща» существуют с 30-х годов. Недаром первым Мастером спорта по лыжным гонкам в Ивановской промышленной области, в которую входил город Гусь-Хрустальный, стал местный лыжник Шляков Константин Александрович. Все это время трасса в «Бариновой роще» существует усилиями различных инициативных групп спортсменов и организаций.
        
        За время существования клуба усилиями его членов на территории лесного массива «Баринова роща» было проведено несколько десятков спортивных мероприятий по триатлону, легкоатлетическому кроссу, велокроссу, также впервые во Владимирской области, организованы старты по плаванию на открытой воде, зимнему триатлону...
    
    </p>
    <br>
    
</div>

{% include 'contact-info.html' %}
</body>
</html>

