
<div class="contact-info">
    <a href="tel:+79612544444"><img src="{{ url_for('static', filename='images/phone_icon_.jpg') }}" alt="Phone Icon" width="15" height="15"> +79612544444</a><br>
    <a href="https://yandex.ru/maps/-/CDBoNP6l"><img src="{{ url_for('static', filename='images/map_icon_.png') }}" alt="Map Icon" width="15" height="15"> Россия, Гусь-хрустальный, Баринова роща</a>
    <a href="https://vk.com/scbarro"><img src="{{ url_for('static', filename='images/bar_roscha.jpg') }}" alt="Gerb" width="15" height="15"> https://vk.com/scbarro</a>
    <a href="mailto:gussport@mail.ru">gussport@mail.ru</a>
</div>

