<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>
{% include 'header.html' %}
<div class="header_2">
    <h1 class="text-center">Мероприятия</h1>
</div>  
<div class="row">  
    <ul>
        {% for competition in competitions %}
        <li>
            <a href="/page1"> <p>{{ competition.title }}</p><img src="{{ url_for('static', filename='images/' + competition.image) }}" class="img-fluid" alt="Page 1" width="120" height="100"><p>{{ competition.date }}</p></a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('add_competition') }}">Добавить соревнование</a>              
</div>
{% include 'contact-info.html' %}
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

</body>
</html>
