<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="container">    
    <div class="register">
        <h1>Войти на сайт</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form %}
                <div class="form-group">
                    {% if field.name not in ['csrf_token', 'submit'] %}
                        <label>{{ field.label }}</label>
                    {% endif %}
                    {{ field(class="form-control" + (' is-invalid' if field.errors else '')) }}
                    {% for error in field.errors %}
                        <span class="invalid-feedback">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </form>
    </div>
</div>
{% include 'contact-info.html' %}
</body>
</html>
