<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'header.html' %}
<h1>Личный кабинет</h1>
<p>Привет, {{ current_user.name }}!</p>
<td><a href="{{ url_for('profile_edit', user_id=current_user_id) }}" class="btn btn-primary">Редактировать себя</a></td>
<br>
<td><a href="{{ url_for('profile_add_user') }}" class="btn btn-success">Добавить для регистрации от себя</a></td>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Фамилия</th>
      <th>Отчество</th>
      {% if checkbox %}
        <th>Выбрать</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td><a href="{{ url_for('profile_edit_add') }}" class="btn btn-success">{{ user['name'] }}</a></td>
        <td>{{ user['surname'] }}</td>
        <td>{{ user['patronymic'] }}</td>
        {% if checkbox %}
          <td><input type="checkbox" name="selected_users" value="{{ user['id'] }}"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>


{% include 'contact-info.html' %}
</body>
</html>
