<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="container">    
    <div class="register">
        <h1>Личный кабинет</h1>
        <p>Привет, {{ current_user.name }}!</p>
        <form method="POST">
            {{ form.hidden_tag() }}
            {% for field in form %}
                {% if field.name not in ['gender'] %}
                    <div class="form-group">
                        {% if field.name not in ['csrf_token', 'submit'] %}
                            <label>{{ field.label }}</label>
                        {% endif %}
                        {{ field(class="form-control" + (' is-invalid' if field.errors else '')) }}
                        {% for error in field.errors %}
                            <span class="invalid-feedback">{{ error | safe }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ field.label }}
                    {% for subfield in field %}
                    <div class="radio">                      
                        {{ subfield( class="form-group") }}
                        {{ subfield.label }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </form>
    </div>
</div>
{% include 'contact-info.html' %}
</body>
</html>
