<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
{% include 'header.html' %}
<div class="register">
    <h1>Регистрация на сайте</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('register') }}" method="POST">        
        {{ registration_form.csrf_token }}
        {{ registration_form.hidden_tag() }}
        <label for="name">Имя:</label><br>
        {{ registration_form.name(size=32) }}<br>
        {% for error in registration_form.name.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
        <label for="surname">Фамилия:</label><br>
        {{ registration_form.surname(size=32) }}<br>
        <label for="patronymic">Отчество:</label><br>
        {{ registration_form.patronymic(size=32) }}<br>
        <label for="gender">Пол:</label><br>
        {{ registration_form.gender() }}<br>
        <label for="email">Почта:</label><br>
        {{ registration_form.email(size=32) }}<br>
        <label for="password">Пароль:</label><br>
        {{ registration_form.password(size=32) }}<br>
        <label for="city">Город:</label><br>
        {{ registration_form.city(size=32) }}<br>
        <label for="telephone">Телефон:</label><br>
        <span class="input-group-text">+</span>
        {{ registration_form.telephone(size=32) }}<br>
        {% for error in registration_form.telephone.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
        <label for="birthday">Дата рождения:</label><br>
        {{ registration_form.birthday() }}<br>
        {% for error in registration_form.birthday.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
        <label for="vk">Ссылка на страницу вконтакте:</label><br>
        {{ registration_form.vk(size=32) }}<br>
        {% for error in registration_form.vk.errors %}
            <span style="color: red;">{{ error }}</span><br>
        {% endfor %}
        <input type="submit" value="Зарегистрироваться">
        <!-- <button type="submit">Зарегистрироваться</button> -->
    </form>
    <br>
</div>
{% include 'contact-info.html' %}
</body>
</html>
